/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ubuntu:wght@300&display=swap");

:root {
  --dark: #000000c7;
  --blur: #0000004d;
  --bright: #f5f6fa;
  --green: green;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--bright);
}

h1 {
  font-family: "Archivo Black", sans-serif;
}

a {
  text-decoration: none;
  color: var(--dark);
}
ul {
  list-style: none;
}
.main-flow {
  width: 80vw;
  margin: auto;
  min-width: #{"min(100vw , 800px)"};
  max-width: 1400px;
}
.green {
  color: green;
}

nav {
  background-color: var(--dark);
  color: var(--bright);
  .main-flow {
    display: flex;
    justify-content: space-between;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      padding: 10px;
      a {
        color: var(--bright);
      }
      &:hover {
        background-color: var(--bright);
        a {
          color: var(--dark);
        }
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    li {
      padding: 7px;
      a {
        font-weight: bold;
        text-transform: capitalize;
        text-transform: uppercase;
      }
      &:hover {
        border-bottom: 2px solid var(--green);
      }
    }
  }
}

#search-form {
  display: flex;
  padding: 10px;
  * {
    border: none;
    outline: none;
    background-color: transparent;
  }
  .search-text {
    width: 0;
    transition: width 1s;
    color: var(--green);
    font-size: 1.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    * {
      border-bottom: 1px solid var(--green);
      padding: 5px;
    }
  }

  &:hover {
    .search-text {
      width: 150px;
    }
  }
}

.mirror {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff38;
  z-index: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

article.news {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px var(--blur);
  text-align: center;
  color: var(--bright);
  .container {
    height: 96%;
    width: 96%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 0) 48%,
      rgba(0, 0, 0, 1) 100%
    );
    .about {
      display: flex;
      justify-content: space-around;
      h4 {
        margin: 0;
      }
    }
    h3 {
      margin: 0;
    }
  }
  .overlay {
    position: absolute;
    height: 0;
    top: 100%;
    left: 100%;
    transition: left 1s;
    transition: top 1s;
    color: var(--bright);
    min-width: 300px;
    font-size: 1.2rem;
    .content {
      z-index: 1;
      position: relative;
      padding: 20px 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px 10px var(--blur);
      a {
        background: var(--green);
        padding: 10px 20px;
        margin: 5px;
        color: var(--bright);
        border-radius: 5px;
        box-shadow: 0 0 10px 5px var(--blur);
      }
    }
    .mirror {
      background: #05000077;
    }
  }
  &:hover {
    .overlay {
      top: 50%;
      left: 50%;
      height: auto;
      width: auto;
      transform: translate(-50%, -50%);
    }
  }
}

// #general,
.article-container {
  min-height: 200px;
  position: relative;
  .articles {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    grid-auto-rows: 300px;
    gap: 1%;
    article:first-child {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
    }
  }
  form {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 100%;
    transform: translate(-150%, -150%);
  }
}

.category {
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
  color: var(--blur);
  text-align: center;
  margin: 30px 0;
}

#countries {
  text-align: center;
  color: var(--blur);
  input {
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--green);
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
    color: var(--green);
  }
  .container {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    a {
      display: inline-block;
      margin: 5px;
      min-width: max-content;
      color: var(--dark);
      border: 1px solid var(--blur);
      padding: 5px;
      &:hover {
        background: var(--blur);
        color: green;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--blur);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--green);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.circle-btn {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
  border: 1px solid green;
  width: 70px;
  height: 70px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px var(--blur);
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-120%, -120%);
  z-index: 1;
  i,
  p {
    z-index: 1;
  }
  p {
    margin: 0;
    font-size: 1.5em;
  }
  &:hover {
    background-color: green;
    color: var(--bright);
  }
}
#search-results {
  box-shadow: 0 0 10px 2px var(--blur);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  min-height: 150px;
  display: none;
  color: var(--blur);
  .news {
    margin: 10px;
    height: 352px;
  }
}
