<div class="<%notification[:type]%>">
    <h4><%= notification[:title]%></h4>
<p><%= notification[:message]%></p>
<button class="remove-parentt">
    <i class="fa-solid fa-trash"></i>
</button>
</div>
